@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakesCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakesCompressed-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakesCompressed-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
