@use '../../scss/abstracts/mixins';
@use '../../scss/abstracts/variables' as *;

.main-content-slider__price-list-element {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid $color--bright-gray;
  padding: 23px 0;
  span {
    @include mixins.font-property(
      14px,
      $font-weight-regular,
      $text-color-black
    );
  }
  .order-btn {
    @include mixins.flex(center, center, 8px, null);
    padding: 4px 8px 4px 12px;
    border-radius: 16px;
    background-color: $color--danger;
    width: 119px;
    height: 32px;
    transition: 0.2s;
    span {
      @include mixins.font-property(12px, $font-weight-bold, white);
    }
    span:last-child {
      @include mixins.sizes(7px, 7px);
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      transform: rotate(-45deg);
    }
    &:hover {
      border: 2px solid $color--mint;
      scale: 1.2;
    }
  }
}
